<div class="mt-24 container m-auto">
  <!--Content-->
  <div class="text-[45px] mb-4">
    Towards a Net-Zero Future
  </div>
  <div class="grid grid-cols-2">
    <div class="pr-10">
      <div class="font-bold text-6xl mb-4">Taking Action on Climate Change</div>
      <div class="text-2xl text-justify">The urgent need to address climate change requires bold, fast, and wide-ranging
        action from
        all sectors of society. The UN Campaign for Individual Action aims to engage citizens in the transition to a
        low-carbon world. To preserve a livable climate, greenhouse gas emissions must be halved by 2030 and reach net
        zero by 2050. This requires significant action from governments, businesses, and individuals.
      </div>
    </div>
    <div class="px-10">
      <hr class="my-8 border-black">
      <div class="px-6 text-[82px] font-bold">10964994</div>
      <div class="px-6 text-4xl font-bold mt-6 mb-[18px]">Climate Actions Taken Around the World</div>
      <div class="px-6 text-base">The source is from the United Nations</div>
      <hr class="my-8 border-black">
    </div>
  </div>

  <div class="font-bold text-center text-[55px] mt-28 mb-16">
    Impactful Actions
  </div>
  <article-card [path]="'assets/images/solution/'" [articles]="articles"></article-card>


</div>

