<!--Content-->
<div class="mt-24 container m-auto">
  <div class="px 12">
    <!--Main Title-->
    <div class="text-6xl font-bold mb-16">
      Climate Action
    </div>

    <!--Event List-->
    <div class="grid grid-cols-4 flex-auto justify-center" >
      <nz-avatar-group class="justify-center mb-16" *ngFor="let event of events; let i = index">
        <div class="eventImage">
          <nz-avatar class="cursor-pointer hover:contrast-125" [nzShape]="'circle'" [nzSize]="260" [nzSrc]="'assets/images/events/'+event.image"
          (click)="openEventDetail(i)"
          ></nz-avatar>
          <div class="font-bold text-2xl mt-6 text-center">
            {{event.title}}s
          </div>
        </div>
      </nz-avatar-group>
    </div>

    <!--Spotlight-->
    <div class="spotlight">
      <div class="text-6xl font-bold mb-8">
        In The Spotlight
      </div>
      <div class="grid grid-cols-2 justify-center">
        <div class="justify-center h-auto">
          <div class="bg-slate-100">
            <div class="p-3">
              <img class="object-none p-3 h-[1002px] w-full cursor-pointer hover:contrast-125"
                nz-image
                [nzSrc]="'assets/images/events/climate-change-video.png'"
                   [nzDisablePreview]="true"
                   (click)="openSpotlight('https://youtu.be/dcBXmj1nMTQ')"
              />
            </div>
            <div class="font-bold text-2xl text-center pb-3">
              <h4>What is Climate Change? | Start Here</h4>
            </div>
          </div>
        </div>
        <div class="justify-center">
          <div class="slBoxSmall">
            <div class="bg-slate-100 flex-auto">
              <a href="https://youtu.be/dcBXmj1nMTQ" target="_blank" class="w-full h-full">
                <img class="object-fill p-5 pl-2 cursor-pointer hover:contrast-125"
                     nz-image
                     [nzSrc]="'assets/images/events/hurricane-news.webp'"
                     [nzDisablePreview]="true"
                     (click)="openSpotlight('https://www.newscientist.com/article/2368302-climate-change-may-drive-more-hurricanes-towards-the-us-east-coast/')"
                />
              </a>
              <div class="font-bold text-2xl text-center pb-3">
                <h4>Climate change may drive more hurricanes towards the US east coast</h4>
              </div>
            </div>
          </div>
          <div class="slBoxSmall">
            <div class="bg-slate-100 flex-auto">
              <div>
                <img class="p-3 object-fill p-5 pl-2 cursor-pointer hover:contrast-125"
                     nz-image
                     [nzSrc]="'assets/images/events/GOP-news.png'"
                     [nzDisablePreview]="true"
                     (click)="openSpotlight('https://www.foxnews.com/politics/house-lawmakers-un-report-climate-change')"
                 />
              </div>
              <div class="font-bold text-2xl text-center pb-3">
                <h4>GOP urged to denounce ‘alarmist’ UN climate change report</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
</div>
