<div class="">
  <!--Content-->
  <div class="mt-24 container m-auto">
    <div class="">

      <div class="flex">
        <div class="mr-24">
          <div class="font-bold text-7xl">
            What Is Climate Change?
          </div>
          <div class="mt-7 text-justify text-[28px]">
            Climate change refers to a long-term alteration in the average weather patterns that have come to define
            Earth's
            local, regional, and global climates.
          </div>
        </div>
        <div>
          <div>
            <img width="630px" height="390px" class="max-w-none" [src]="'assets/images/intro/polaBear.jpg'">
          </div>
        </div>
      </div>

    </div>

    <!--Team-->
    <div class="mt-32">
      <div class="font-bold text-[55px]">
        Our Team
      </div>
      <div class="flex gap-8 justify-between mt-16" *ngIf="!loadingUser else loadingTpl ">
        <nz-card class="w-[300px] border-[#F6F6F6] bg-[#F6F6F6]" *ngFor="let user of users">
          <div>
            <img [src]="user.image">
          </div>
          <div class="text-2xl font-bold">
            {{user.name}}
          </div>
          <div class="text-[22px]">
            {{user.position}}
          </div>
        </nz-card>
      </div>
    </div>
  </div>
</div>


<ng-template #loadingTpl>
  <nz-skeleton [nzActive]="true"></nz-skeleton>
</ng-template>
