<div class="" >
  <!--Header-->
  <div class="pt-8">
    <div class="container m-auto flex justify-between">
      <div class="font-extrabold text-[40px] font-roboto cursor-pointer" (click)="direct('intro')">
        Climate Change
      </div>
      <div class="gap-8 flex font-medium text-2xl font-reboto">
        <button (click)="direct('effects')">Effects</button>
        <button (click)="direct('causes')">Causes</button>
        <button (click)="direct('solution')">Solution</button>
        <button (click)="direct('future')">Future</button>
        <button (click)="direct('events')">Events</button>
      </div>
    </div>
  </div>


  <!--Content-->
  <div class="mt-24 container m-auto px-12">
    <div class="px-12 ">
      <!--Main Title-->
      <div class="font-bold text-7xl text-center font-red-hat-display">
        What Is Climate Change?
      </div>

      <!--Description-->
      <div class="mt-24 flex items-center justify-center">
        <div class="mr-24 text-justify text-[28px] font-roboto ">
          Climate change refers to a long-term alteration in the average weather patterns that have come to define
          Earth's
          local, regional, and global climates.
        </div>
        <div>
          <img nz-image width="630px" height="390px" class="max-w-none" [nzSrc]="'assets/images/intro/polaBear.jpg'">
        </div>
      </div>


      <!--Overview-->
      <div class="mt-20">
        <div class="font-bold text-[55px] font-roboto">
          Overview
        </div>
        <div class="font-roboto text-[28px] mt-12 text-justify">
          Climate change is a significant global issue that is driven by anthropogenic factors such as human-induced
          greenhouse gas emissions, deforestation, and land-use changes. The impacts of climate change are felt
          worldwide, with severe consequences for ecosystems, human societies, and the global economy.
        </div>
      </div>
    </div>

    <!--Team-->
    <div class="mt-32">
      <div class="font-bold text-[55px] font-reboto text-center">
        Meet our team
      </div>
      <div class="flex gap-8 justify-between mt-16" *ngIf="!loadingUser else loadingTpl ">
        <nz-card class="w-[300px] border-[#F6F6F6] bg-[#F6F6F6]" *ngFor="let user of users">
          <div>
            <img nz-image [nzSrc]="user.image">
          </div>
          <div class="font-roboto font-medium text-2xl">
            {{user.name}}
          </div>
          <div class="font-robot text-[22px]">
            {{user.position}}
          </div>
        </nz-card>
      </div>
    </div>
  </div>

  <!--Footer-->
  <div class="mt-24 container m-auto mt-52 px-12">
    <!--Icon-->
    <div class="text-center gap-3 flex justify-center">
      <div>
        <span class="text-[36px]" nz-icon nzType="facebook" nzTheme="outline"></span>
      </div>
      <div>
        <span class="text-[36px]" nz-icon nzType="instagram" nzTheme="outline"></span></div>
      <div>
        <span class="text-[36px]" nz-icon nzType="twitter" nzTheme="outline"></span></div>
      <div>
        <span class="text-[36px]" nz-icon nzType="linkedin" nzTheme="outline"></span></div>
    </div>
    <!--Copy write-->
    <div class="font-medium font-roboto text-base mt-[42px] pb-14 ">
      © 2023 Climate change. All rights reserved
    </div>
  </div>


</div>


<ng-template #loadingTpl>
  <nz-skeleton [nzActive]="true"></nz-skeleton>
</ng-template>
